@media only screen and (max-width: 905px) {
    .normal{
        display: none;
    }
    .mobile{
        display:block !important
    }
    
    }
    
    .mobile{
        display:none 
    }

     ::placeholder {
        opacity: 0.5
    }

    