<label _ngcontent-ajx-c3="" class="ailabel labelPage">
    <a class="cpointer" [routerLink]="['/home']">Home / </a><a  class="cpointer"
        [routerLink]="['/services']">Services / </a><a class="cpointer" [routerLink]="['/appm']">Application Modernization</a>
</label>

<img id="mainpic" style="position: absolute;
top: 0px;background: #21282f;
left: 0px;width: 1920px;height: 962px" src="../../../assets/appmoderization.png"  >
<div 
class="normal contentwrapper"
[innerHTML]="html">
</div>
<div 
class="contentwrapper mobile"
[innerHTML]="html2">
</div>
<app-footer></app-footer>
