
@media only screen and (max-width: 905px) {
    .normal{
        display: none !important;
    }
    .mobile{
        display:block !important
    }
    
    }
    
    .mobile{
        display:none 
    }