
@media only screen and (max-width: 905px) {
    .normal{
        display: none;
    }
    .mobile{
        display:block !important
    }
    
    #mainpic{
        left: -759px !important
     }
    }

    
    
    .mobile{
        display:none 
    }
    img{
        position: absolute;
    }

    .whyic1{
        top: 898px;
right: 0px;
width: 1199px;
height: 618px;
    }

    .whyic2{
        top: 1500px;
    left: 0px;
    width: 955px;
    height: 644px;
    }

    .whyic3{
        top: 2138px;
        right: 80px;
        width: 975px;
        height: 600px;
    }

    /* 
    width: 1813px;
    height: 1170px; */