<label _ngcontent-ajx-c3="" class="ailabel labelPage">
     <a class="cpointer" [routerLink]="['/home']">Home / </a><a *ngIf="this.prevName != ''" class="cpointer" [routerLink]="[this.prev]">{{this.prevName}} / </a><a class="cpointer" [routerLink]="['/aboutus']">About Us</a>
</label>
<img id="mainpic" style="width: 1920px;height: 900px;" src="../../../assets/aboutusmainpic.png"  >
<img class="whyic1"  src="../../../assets/whyic1.png"  >
<img class="whyic2"  src="../../../assets/whyic2.png"  >
<img class="whyic3"  src="../../../assets/whic3.png"  >


<div 

class="contentwrapper normal" style="min-width: 2000px !important;"
[innerHTML]="html">

</div>

<div 
class="contentwrapper mobile" style="min-width: 2000px !important;"
[innerHTML]="mhtml">

</div>


<app-footer></app-footer>