@media only screen and (max-width: 905px) {
    .normal{
        display: none;
    }
    .mobile{
        display:block !important
    }
    
    
    }
    
    .mobile{
        display:none 
    }

    .ailabel:hover{
        cursor: pointer;
    }