

@media only screen and (max-width: 905px) {
    .normal{
        display: none;
    }
    .mobile{
        display:block !important
    }

    .selectionscontent{
    top: 1705px !important;
    left: -45px !important;
    width: 464px !important;
    }
    
    }
    
    .mobile{
        display:none 
    }

.selectionscontent{
    position: absolute;
    top: 1300px;
    left: 50px;
    z-index: 99;
    height: 1200px;
    width: 1850px;
}

