

@media only screen and (max-width: 905px) {
    .normal{
        display: none;
    }
    .mobile{
        display:block !important
    }

    .selectionscontent{
        position: relative !important;
        float:left !important;
    top: 0px !important;
    left: -45px !important;
    width: 464px !important;
    }

    #mainfotter{
        display: none;
    }
    #mainpic{
        left:-553px !important
    }
    }
    
    .mobile{
        display:none 
    }

.selectionscontent{
    position: relative;
    float: left;
    top: -1579px;
    left: 141px;
    z-index: 99;
    height: auto;
    width: 1850px;
}

.float{
    position: relative;
    float:left
}

.mclass{
    position: relative;
    float: left;
    height: auto;
    margin-left: 70px;
    width: 100vw;
}

