<label _ngcontent-ajx-c3="" class="ailabel labelPage">
    <a class="cpointer" [routerLink]="['/home']">Home</a> / <a class="cpointer"
        [routerLink]="['/contractv']">Contract Vehicles</a>
</label>

<div class="normal" id="mainpic" style="width: 1920px;height: 1020px;position: absolute;
background-size: cover;
top:0px;left:0px;background-repeat: no-repeat; background-attachment: scroll;
 background-position: right center; background-image: url('../../../assets/contractv.png'); "></div>

<div [innerHTML]="html" class="normal contentwrapper">

</div>

<div>

</div>
<app-footer></app-footer>