@media only screen and (max-width: 905px) {
    .normal{
        display: none;
    }
    .mobile{
        display:block !important
    }

    #mainpic{
        left:-734px !important
    }
    
    }
    
    .mobile{
        display:none 
    }