
@media only screen and (max-width: 905px) {
.normal{
    display: none;
}
.mobile{
    display:block !important
}

#mainpic{
    left:-776px !important
}

#sucesstoryimage{
    top: 5187px;
    left: -326px;
    height: 900px !important;
    width: 1200px;
}

.jointeamimage{
    top: 6089px !important;
    left: -326px !important;
    height: 900px !important;
    width: 1200px !important;
}

}

.mobile{
    display:none 
}


.successstoryimage{
    width: 927px;
    height: 605px;
    position: absolute;
    top: 3846px;
    left: 0px;
    opacity: 0.7;
}

.jointeamimage{
    width: 1000px;
    height: 605;
    position: absolute;
    top: 3846px;
    left: 927px;
    opacity: 0.7;
}

#mainpic{
    width: 1920px; height: 1020px; position: absolute;
     top: 0px; left: 0px; background-repeat: no-repeat;
      background-attachment: scroll; background-position: right center; 
      background-image: url("../../../assets/homeimage.png"); 
      transition: top 500ms ease 0s;
}
