<div (scroll)="scrollCapture($event)" id="mainwrapper"
[ngStyle]='{"min-height":showmodal?"unset":"1500px"}'
>

  <div id="header" *ngIf="!showmodal" style="
      width: 100vw;
      height: 100px;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 2;
      background: transparent;

      " [ngStyle]="{'background':scrolled?'white':'#fffdfd1f',
      'box-shadow':scrolled?'0px 0px 2px black':'none',
      'height':scrolled?'100px':'76px'
      }">
    <!--logo-->
    <div (click)="routeme('')" class="image svg hover logo" style="    line-height: 1.2;
  padding: 0px;
  margin: 0px;
  border-style: solid;
  overflow: hidden;
  position: absolute !important;
  font-style: normal;
  font-weight: 400;
  font-family: Quicksand;
  font-size: 0vw;
  background: transparent;
  border-width: 0px;
  width: 226px;
  height: 60px;
  top: 9px;
  left: 2%;
  z-index: 1;
  opacity: 1;
  transform: rotate(0deg) skewX(0deg) skewY(0deg);
  box-shadow: 0px 0px;" ng-reflect-klass="image svg" ng-reflect-ng-class=""
      ng-reflect-ng-style="line-height: 1.2;[object Object]">

      <img 
      class="nlogo"
      [ngStyle]="{'opacity':scrolled?1:0}" class="hover" src="../assets/truelgo.png" width="100%" height="100%">
      <img 
      class="whitelogo"
      style="position: absolute;
      top: 0px;
      left: 0px;" [ngStyle]="{'opacity':scrolled?0:1}" class="hover" src="../assets/whitelogo.png" width="100%" height="115%">
    </div>

    <div class="buttonwrapper" style="position: absolute;
  /* float: right; */
  top: 10px;
  right: 0px;
  z-index: 3;
  
  width: 200px;
  height: 50px;">
      <!--button1-->
      <div class="hover" id="openmodal" (click)="this.showmodal = true" style="    position: relative;
    float: right;
    margin-right: 70px;
    margin-top: 26px;
    width: 10px;">
        <img *ngIf="scrolled" src="../assets/hambericon.svg">
        <img *ngIf="!scrolled" src="../assets/Group 16.svg">

      </div>
      <!--button2-->
      <div class="hover" (click)="routeme('questions')" style="
      position: relative;
      float: right;
      margin-right: 40px;
      margin-top: 22px;
      width: 10px;">
        <img *ngIf="scrolled" src="../assets/Path 771.png">
        <img *ngIf="!scrolled" src="../assets/whitelookicon.svg">
      </div>


    </div>

  </div>

  <div *ngIf="!showmodal" style="position: 
  relative;float:left;top:0px;left:0px;
  width:100vw;
  min-width: 100vh;
  height:100vh;
  transform-origin:0px 0px;
" [ngStyle]='{"transform":this.scale}'>



    <div style="position: relative; float:left;min-height: 100vh;">
      <router-outlet></router-outlet>
    </div>

  </div>


  <div class="skirt" [ngStyle]='{"width":showmodal?"100vw":"0vw","opacity":showmodal?"1":"0",
"height":showmodal?"100vh":"0vh"}'>

    <div _ngcontent-nei-c3="">
      <label _ngcontent-nei-c3="" class="aiformbtn hover" style="padding: 0px; margin: 0px; border-style: solid; position: absolute !important; 
  font-style: normal; font-weight: 400; font-family: Quicksand; font-size: 12px; border-width: 0px;
   border-radius: 3px; width: 191px; height: 138px; top: 22px; right:10px; z-index: 2; opacity: 1; 
   transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px;" ng-reflect-klass="aiformbtn"
        ng-reflect-ng-class="hover" ng-reflect-ng-style="[object Object]">
        <button _ngcontent-nei-c3="" style="position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  width: 100%;height: 100%;visibility: hidden;" id="closemodal"></button>
      </label>
    </div>
    <div _ngcontent-nei-c3="" class="image svg" draggable="false" style="    padding: 0px;
          margin: 0px;
          border-style: solid;
          overflow: hidden;
          position: absolute !important;
          font-style: normal;
          font-weight: 400;
          font-family: Quicksand;
          background: transparent;
          border-width: 0px;
          width: 84.3534px;
          height: 79.9204px;
          top: 17.793px;
          right: -12px;
          z-index: 1;
          opacity: 1;
          transform: rotate(0deg) skewX(0deg) skewY(0deg);
          box-shadow: 0px 0px;
          transform-origin: 0px 0px;
          transform: scale(0.5);" ng-reflect-klass="image svg" ng-reflect-ng-class=""
      ng-reflect-ng-style="[object Object]">
      
      <svg style="width:100% !important" xmlns="http://www.w3.org/2000/svg"
        width="87.187" height="82.743" viewBox="0 0 87.187 82.743">
        <defs>
          <style>
            .c1Group10391 {
              fill: none;
              stroke: #fff;
              stroke-width: 4px;
            }
          </style>
        </defs>
        <g id="Group_1039" data-name="Group 1039" transform="translate(-1783.755 -52.357)">
          <g id="Group_1038" data-name="Group 1038">
            <line id="Line_24" data-name="Line 24" class="c1Group10391" x2="76.91" y2="79.92"
              transform="translate(1792.591 53.793)"></line>
            <line id="Line_25" data-name="Line 25" class="c1Group10391" x1="81.872" y2="79.391"
              transform="translate(1785.147 53.793)"></line>
          </g>
        </g>
      </svg>
    </div>

    <img src="../assets/modalbackground.png" style="position: absolute;
top: -21%;
left: -10%;
width: 110vw;
height: 200vh;">

    <div style="transform-origin: 0px 0px;" [ngStyle]='{"transform":this.scale2}'>
      <div _ngcontent-nei-c3="">
        <div _ngcontent-nei-c3="" class="image svg" draggable="false"
          style="padding: 0px; margin: 0px; border-style: solid; overflow: hidden; position: absolute !important; font-style: normal; font-weight: 400; font-family: Quicksand; background: transparent; border-width: 0px; width: 0.400879px; height: 2.47021px; top: 201.541px; left: 246.44px; z-index: 1; opacity: 0.12; transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px;"
          ng-reflect-klass="image svg" ng-reflect-ng-class="" ng-reflect-ng-style="[object Object]">
          
          <svg
            style="width:100% !important" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            width="0.401" height="2.47" viewBox="0 0 0.401 2.47">
            <defs>
              <style>
                .c51 {
                  opacity: 0.12;
                  fill: url(#linear-gradient5);
                }
              </style>
              <linearGradient id="linear-gradient5" y1="0.5" x2="1.001" y2="0.5" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#8ac340"></stop>
                <stop offset="0.361" stop-color="#24a9e1"></stop>
                <stop offset="1" stop-color="#424fa0"></stop>
              </linearGradient>
            </defs>
            <path id="Path_718" data-name="Path 718" class="c51" d="M-3734.887-3916.58c.381-2.323.669-4.141,0,0Z"
              transform="translate(3734.887 3919.05)"></path>
          </svg>
        </div>
      </div>




      <div _ngcontent-nei-c3=""><label _ngcontent-nei-c3="" class="aiformbtn hover"
          style="padding: 0px; margin: 0px; border-style: solid; position: absolute !important; font-style: normal; font-weight: 400; font-family: Quicksand; font-size: 12px; border-width: 0px; border-radius: 3px; width: 308px; height: 96px; top: 238px; left: 150px; z-index: 2; opacity: 1; transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px;"
          ng-reflect-klass="aiformbtn" ng-reflect-ng-class="hover" ng-reflect-ng-style="[object Object]">
          <button _ngcontent-nei-c3="" style="position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        width: 100%;height: 100%;visibility: hidden;" id="m_aboutus"></button></label></div>
      <div _ngcontent-nei-c3=""><label _ngcontent-nei-c3="" class="aiformbtn hover"
          style="padding: 0px; margin: 0px; border-style: solid; position: absolute !important; font-style: normal; font-weight: 400; font-family: &quot;Nunito Sans&quot;; font-size: 12px; border-width: 0px; border-radius: 3px; width: 320px; height: 64px; top: 440px; left: 142px; z-index: 2; opacity: 1; transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px;"
          ng-reflect-klass="aiformbtn" ng-reflect-ng-class="hover" ng-reflect-ng-style="[object Object]">
          <button _ngcontent-nei-c3="" style="position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        width: 100%;height: 100%;visibility: hidden;" id="m_servicebtn"></button></label></div>
      <div _ngcontent-nei-c3="">
        <div _ngcontent-nei-c3="" class="image svg" draggable="false" style="padding: 0px; margin: 0px; border-style: solid; overflow: hidden;
         position: absolute !important; font-style: normal; font-weight: 400; 
         font-family: Quicksand; background: transparent; border-width: 0px; width: 3px;
          height: 881px; top: 177.5px; left: 957.5px; z-index: 1; opacity: 1; 
          transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px;" ng-reflect-klass="image svg"
          ng-reflect-ng-class="" ng-reflect-ng-style="[object Object]"><svg style="width:100% !important"
            xmlns="http://www.w3.org/2000/svg" width="5" height="881.007" viewBox="0 0 5 881.007">
            <defs>
              <style>
                .c2Group10411 {
                  fill: none;
                  stroke: #fff;
                  stroke-width: 2px;
                }
              </style>
            </defs>
            <g id="Group_1041" data-name="Group 1041" transform="translate(-956.5 -292.497)">
              <line id="Line_26" data-name="Line 26" class="c2Group10411" x1="3" y2="881"
                transform="translate(957.5 292.5)"></line>
            </g>
          </svg>
        </div>
      </div>

    <!--Logo in Skirt-->
      <div _ngcontent-nei-c3="">
        <div _ngcontent-nei-c3="" class="image svg" draggable="false"
        (click)="routeme('/');showmodal = false"
          style="padding: 0px; margin: 0px; border-style: solid; overflow: hidden; position: absolute !important; font-style: normal; font-weight: 400; font-family: Quicksand; background: transparent; border-width: 0px; width: 236px; height: 64.6665px; top: 34.9995px; left: 44px; z-index: 1; opacity: 1; transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px;"
          ng-reflect-klass="image svg" ng-reflect-ng-class="" ng-reflect-ng-style="[object Object]">
          
          <img _ngcontent-cqq-c0="" class="hover" height="100%" src="../assets/truelgo.png" width="100%">
        </div>
      </div>

      <div class="modalbtncontainer">
        <div class="modalbtnhover"(dblclick)="routeme('aboutus');showmodal = false" (mouseover)="showmodalbtngroup = 'aboutus'">

          <label _ngcontent-nei-c3="" class="ailabel"
            style="border-style: solid; font-weight: 1000; font-family: &quot;Nunito Sans&quot;; font-size: 50px; color: rgb(255, 255, 255); background: transparent; border-width: 0px; padding: 0px; width: 297px; height: 73px; top: 254px; left: 176px; text-align: left; transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px; z-index: 1;"
            ng-reflect-klass="ailabel" ng-reflect-ng-class="" ng-reflect-ng-style="[object Object]">
            ABOUT
            US </label>
        </div>

        <!--AboutDiv-->
        <div class="show_options" [ngStyle]="{'height':showmodalbtngroup == 'aboutus'?'295px':'0px'}">
          <p (click)="routeme('aboutus');showmodal = false;smoothscroll(801)">Ingenuity and Experience</p>
          <p (click)="routeme('aboutus');showmodal = false;smoothscroll(1416);">Driving Enterprise Forward</p>
          <p (click)="routeme('aboutus');showmodal = false;smoothscroll(2001)">Innovative Minds</p>
        </div>


        <div class="modalbtnhover" (dblclick)="routeme('services');showmodal = false" (mouseover)="showmodalbtngroup = 'services'" _ngcontent-nei-c3=""><label
            _ngcontent-nei-c3="" class="ailabel"
            style="border-style: solid; font-weight: 1000; font-family: &quot;Nunito Sans&quot;; font-size: 50px; color: rgb(255, 255, 255); background: transparent; border-width: 0px; padding: 0px; width: 310px; height: 73px; top: 437px; left: 176px; text-align: left; transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px; z-index: 1;"
            ng-reflect-klass="ailabel" ng-reflect-ng-class="" ng-reflect-ng-style="[object Object]">
            SERVICES </label></div>

        <div class="show_options" [ngStyle]="{'height':showmodalbtngroup == 'services'?'365px':'0px'}">
          <p (click)="routeme('dt');showmodal = false">Digital Transformation</p>

          <p (click)="routeme('appm');showmodal = false">Application Modernization</p>

          <p (click)="routeme('analytics');showmodal = false">Data Analytics</p>
          <p (click)="routeme('ess');showmodal = false">Enterprise Support Services</p>
        </div>


        <div class="modalbtnhover " (click)="showmodalbtngroup = 'solutions';routeme('solutions');showmodal = false"
          (mouseover)="showmodalbtngroup = ''">
          <label _ngcontent-nei-c3="" class="ailabel sphover hover"
            style="border-style: solid;  font-weight: 1000; font-family: &quot;Nunito Sans&quot;; font-size: 50px; color: rgb(255, 255, 255); background: transparent; border-width: 0px; padding: 0px; width: 407px; height: 67px; top: 620px; left: 176px; text-align: left; transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px; z-index: 1;"
            ng-reflect-klass="ailabel" ng-reflect-ng-class="" ng-reflect-ng-style="[object Object]">
            SOLUTIONS </label></div>

        <div class="show_options" [ngStyle]="{'height':showmodalbtngroup == 'solutions'?'0px':'0px'}">
          <!-- <p (click)="routeme('solutions');showmodal = false">Cloud</p>
          <p (click)="routeme('solutions');showmodal = false">DevSecOps</p>
          <p (click)="routeme('solutions');showmodal = false">ServiceNow</p> -->
        </div>

        <div class="modalbtnhover" (click)="showmodalbtngroup = 'cv';routeme('contractv');showmodal = false"
          (mouseover)="showmodalbtngroup = ''">
          <label _ngcontent-nei-c3="" class="ailabel sphover hover" style="border-style: solid; font-weight: 1000; 
          font-family: &quot;Nunito Sans&quot;; font-size: 50px; 
          color: rgb(255, 255, 255); background: transparent; border-width: 
          0px; padding: 0px; width: 684px; height: 71px; top: 803px; 
          left: 176px; text-align: left; transform: rotate(0deg) skewX(0deg) skewY(0deg); 
          box-shadow: 0px 0px; z-index: 1;line-height:1.2 !important" ng-reflect-klass="ailabel">
            CONTRACT VEHICLES </label></div>

        <div class="show_options" [ngStyle]="{'height':showmodalbtngroup == 'cv'?'0px':'0px'}">
        </div>


        <div class="modalbtnhover" (click)="showmodalbtngroup = 'careers';routeme('careers');showmodal = false"
          (mouseover)="showmodalbtngroup = ''" ><label _ngcontent-nei-c3=""
            class="ailabel sphover hover"
            style="border-style: solid; 
           font-weight: 1000; font-family: &quot;Nunito Sans&quot;; font-size: 50px; color: rgb(255, 255, 255); background: transparent; border-width: 0px; padding: 0px; width: 341px; height: 73px; top: 986px; left: 176px; text-align: left; transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px; z-index: 1;"
            ng-reflect-klass="ailabel" ng-reflect-ng-class="" ng-reflect-ng-style="[object Object]">
            CAREERS </label></div>

        <div class="show_options" [ngStyle]="{'height':showmodalbtngroup == 'careers'?'0px':'0px'}"></div>


        <div _ngcontent-nei-c3="" class="modalbtnhover" (mouseover)="showmodalbtngroup = ''"
          (click)="showmodalbtngroup = 'contact';routeme('contact');showmodal = false">
          <label _ngcontent-nei-c3="" class="ailabel sphover hover"
            style="border-style: solid;  font-weight: 1000; font-family: &quot;Nunito Sans&quot;; font-size: 50px; color: rgb(255, 255, 255); background: transparent; border-width: 0px; padding: 0px; width: 315px; height: 73px; top: 1169px; left: 176px; text-align: left; transform: rotate(0deg) skewX(0deg) skewY(0deg); box-shadow: 0px 0px; z-index: 1;"
            ng-reflect-klass="ailabel" ng-reflect-ng-class="" ng-reflect-ng-style="[object Object]">
            CONTACT </label></div>

        <div class="show_options" [ngStyle]="{'height':showmodalbtngroup == 'contact'?'0px':'0px'}"></div>


      </div>

      <!--Container to show the Section Text Dispay-->
      <div class="sectioninfocontainer">
        <div class="sic" *ngIf="showmodalbtngroup == 'aboutus'">
          <p>
            <b>Who we are:</b> Today digitally, technology can fundamentally transform the way government operates and
            can
            deliver services to citizens and offer strategies for government leaders to accelerate innovation to solve
            the
            complex challenges of the future. At iCallidus, our mission is to develop, execute, and manage enterprise
            solutions for a modernized government. Led by a multidisciplinary team of experts, we’re committed to
            helping
            your agency drive forward and maximize performance through innovation and technology .

          </p>

          <p>
            iCallidus helps organizations better understand emerging technologies, implement Agile development
            principles and take a strategic approach to adopting tools and methodologies. We will help you define,
            design and execute strategies that optimize costs and quality while accelerating your enterprise
            transformation.
          </p>

          <button class="hover" (click)="routeme('aboutus');showmodal = false">Read More</button>

        </div>

        <div class="sic" *ngIf="showmodalbtngroup == 'services'">
          <p>
            Successful IT adoption requires strategic planning, solution design, deployment and on-going support. At
            iCallidus, we bring together leaders in strategy, business, and technology to co-create your unique path to
            transformation. Let us help you improve your business performance and turning risk and compliance into
            opportunities for enhanced value.
          </p>

          <p>
            iCallidus helps organizations better understand emerging technologies, implement Agile development
            principles and take a strategic approach to adopting tools and methodologies. We will help you define,
            design and execute strategies that optimize costs and quality while accelerating your enterprise
            transformation.
          </p>

          <button class="hover" (click)="routeme('services');showmodal = false">Read More</button>

        </div>

        <div class="sic" *ngIf="showmodalbtngroup == 'solutions'">
          <p>
            iCallidus transforms enterprises companies by connecting technology to business outcomes. By applying
            industry best practices and harnessing innovative technology and deep domain expertise, we deliver realistic
            and reliable solutions that will enable your enterprise to meet their architecture and infrastructure
            challenges. To maximize our value to our customers, we have partnered with a wide range of leading
            innovators with a deep commitment to the most comprehensive and value-driven solutions. Accelerate your
            digital journey with the best technology, practices, and learnings for enterprise modernization.

          </p>

          <button (click)="routeme('solutions');showmodal = false">Read More</button>

        </div>

        <div class="sic" *ngIf="showmodalbtngroup == 'contractv'">
          <p>
            iCallidus contract vehicles expedite the delivery of our services to clients across the U.S. Federal
            Government. Through these vehicles, federal agencies have at their disposal convenient and easy-to-use
            mechanisms for obtaining a wide variety of management and technology services.
          </p>

          <button (click)="routeme('contractv');showmodal = false">Read More</button>

        </div>

        <div class="sic" *ngIf="showmodalbtngroup == 'careers'">
          <p>
            We are on a mission to bring imagination, simplicity, and effectiveness in everything we do. Join our
            diverse group of innovators, working together to solve our customers most challenging problems. Use
            leading-edge technologies and strategies to reinvent the way things get done. Learn how you can make an
            impact at iCallidus.


          </p>

          <button (click)="routeme('careers');showmodal = false">Read More</button>

        </div>

        <div class="sic" *ngIf="showmodalbtngroup == 'contact'">
          <p>
            Let’s talk about creating more value for your enterprise. Let’s work together to increase creativity, think
            outside the box, and create new ways to drive innovation and improve enterprise performance. From strategy
            to execution, we can help. Let’s talk.

          </p>

          <button (click)="routeme('contact');showmodal = false">Read More</button>

        </div>




      </div>







    </div>

  </div>

</div>