



@media only screen and (max-width: 905px) {
    .normal{
        display: none;
    }
    .mobile{
        display:block !important
    }

    .sectioninfocontainer{
        display:none
    }

    .modalbtncontainer{
        left: 30%!important;
    }

    .logo{
        left:5% !important
    }

    .whitelogo{
        height: 85%;
    width: 70%;
    }

    .nlogo{
        height: 70%;
    width: 70%;
    }

}
  img{
      transition:opacity 500ms
  }

/* Main Page Model Code*/
.modalbtncontainer div{
position: relative !important;
float:left;
width: 100%;
height: 100px;
}

.modalbtncontainer{
    position: absolute;
    width: 500px;
    z-index: 99;
    height: 1000px;
    top: 325px;
    left: 10%;

}

.modalbtncontainer label{
    position: relative !important;
    float:left;
    top:0px !important;
    left:0px !important;
}

 .modalbtnhover label:hover{
    cursor:pointer
}
.modalbtnhover{
    margin-top:50px
}

.show_options p:hover{
    cursor:pointer;
    color:white
}


.modalbtncontainer .show_options{
    
    width:100%;
    height: 0px;
    transition: height 500ms;
    overflow: hidden;
}

.show_options{
    color:#2E369B;
    font-size: 36px;
    font-weight:700 ;
    margin-left:40px;
    margin-top:0px
}

 .sectioninfocontainer{
 
    position: absolute ;
    top: 370px !important;
    left: 1025px !important;
    width: 600px !important;
    height: 600px !important;


}

.modalbtnhover{
    cursor: pointer;
}

.sic{
    color:white;
    font-size: 25px;
}

.sic p{
    width:750px
}

.sic button{
   color: #2E369B;
   font-size: 28px !important;
   font-weight: bold;
   border:0px;
   background:transparent
}

.sic button:hover{
    color:white;
    cursor: pointer;
}

.hover:hover{
    cursor: pointer;
}

.sphover:hover{
 color:#2E369B !important
}

.bottomfooter{
    position: fixed;
    bottom:-50px;
    left:0px;
    width:100vw;
    height: 75px;
    background:white;
    box-shadow:0px 0px 5px black;
    transition: bottom 500ms ease-in-out , opacity 500ms ease-in-out;

}

 
    
      
.Group_talentwrapper_0{
    position:absolute !important;
    float:left;
    background:0;
    border-radius:0px;
    border-style:none;
    width:calc((100vw/1200) * 1000);
    height:calc((100vw/1200) * 63);
    top:6px;
    left:119px;
    margin-top:0px;
    margin-left:0px;
    box-shadow:0px 0px 0px 0;
    z-index:0;
    opacity:1;
    color:0;
    overflow:visible;
top:50%;
left:50%;
transform:translate(-50%,-50%);
margin-left:unset;
margin-right:unset;
margin-top:unset;
  }
  .Group_talentwrapper_0::-webkit-scrollbar {
    width: 0px;
  }
  @media only screen and (min-width: 1200px) {
    .Group_talentwrapper_0{
      font-size:0px;
      line-height:0px
    }
  }
  
.learn_0{
    position:relative !important;
    float:left;
    background:transparent;
    border-radius:px;
    border-style:none;
    width:calc((100vw/1200) * 496);
    height:100%;
    top:0px;
    right:0px;
    margin-top:calc((100vw/1200) *0);
    margin-right:calc((100vw/1200) *0);
    box-shadow:0px 0px 0px ;
    line-height:calc((100vw/1200) * 55) ;
    text-align:left;
    font-size:max(calc((100vw/1200) * 36),15px);             
    font-family:Nunito Sans;
    font-weight:800;
    font-style: Bold;
    z-index:1;
    opacity:1;
    color:#06297e;
    overflow:visible;
    ;   
;
;
min-width:200px;
;
  }
  .learn_0::-webkit-scrollbar {
    width: 0px;
  }
  @media only screen and (min-width: 1200px) {
    .learn_0{
      font-size:36px;
      line-height:55px
    }
  }
  
.join_1{
    position:relative !important;
    float:right;
    background:transparent;
    border-radius:px;
    border-style:none;
    width:calc((100vw/1200) * 180);
    height:100%;
    top:0px;
    right:0px;
    margin-top:calc((100vw/1200) *0);
    margin-right:calc((100vw/1200) *0);
    box-shadow:0px 0px 0px ;
    line-height:calc((100vw/1200) * 55);
    text-align:left;
    font-size:max(calc((100vw/1200) * 28),15px);             
    font-family:Nunito Sans;
    font-weight:800;
    font-style: Bold;
    z-index:1;
    opacity:1;
    color:#7ab53b;
    overflow:visible;
    ;   
;
;
min-width:100px;
;
  }
  .join_1::-webkit-scrollbar {
    width: 0px;
  }
  @media only screen and (min-width: 1200px) {
    .join_1{
      font-size:28px;
      line-height:50px
    }
  }
  