.hovercontainer{
    position: absolute;
    top: 1364px;
    left: 0px;
    width: 1920px;
    height: 1183px;
    background: blue;
}

@media only screen and (max-width: 905px) {
    .normal{
        display: none;
    }
    .mobile{
        display:block !important
    }
    
    }
    
    .mobile{
        display:none 
    }