/* You can add global styles to this file, and also import other style files */

@media only screen and (max-width: 905px) {
    .normal{
        display: none;
    }
    .mobile{
        display:block !important
    }
    .breadcrum{
        left:29px !important
    }
    #sucesstoryimage{
        top: 5187px;
        height: 855px;
    }
    
    }
    
    .mobile{
        display:none 
    }


.footer , .container {
    position: relative;
    float: left;
}

.backmain:hover{
    cursor:hover
}
.hover:hover{
    cursor: pointer;
}

.footer{
    width:1920px;
    height: 70vh;
   
    background: #2e369b;
    
    transform-origin:0px 0px;
    
}

#container{
    scroll-behavior: smooth;
    overflow: scroll;
    height: 100vw;
    width: 100vw;
}

p{
    font-family: 'Nunito Sans' !important;
}



#mainwrapper{
    scroll-behavior: smooth !important;
    width:100vw;
    height:auto;
    overflow-y:scroll;
    overflow-x:hidden
}

body{
    overflow: hidden !important;
    margin:0px
    
}
.labelPage {
    width: 600px !important;
}
.skirt{
    position: absolute;
    left: 0px;
    top: 0px;
    width:0px;
    height:100vh;
    opacity: 0;
    background: #0296d7;
    box-shadow: 0px 0px 0px 2000px rgba(0,0,0,0.5);
    transition: width 500ms , opacity 300ms;
    overflow: scroll;
    overflow-x:hidden
}

label , p{
    font-family: 'Nunito Sans', sans-serif !important;
    line-height: 45px !important;
   
}

.hd{
    line-height: 45px !important;
}

#mainpic{
    position: absolute;
    top: 0px;
    left: 0px;
}

.successstoryimage{
    transition: top 500ms;
}

.jointeamimage{
    transition: top 500ms;
}

.contentwrapper{
    position: relative;
float: left;
min-height: 1500px;
height: auto;
width: 100vw;
perspective: 600px;
}

#header{
    transition: background 500ms, height 500ms;
}


@media only screen and (max-width: 500px) {
    

    /* .mt{
        padding:20px !important;
        left:0px !important;
        text-align: center !important;
        line-height: 80px !important;
        font-size: 50px !important;
        width:1920px  !important
    }

    .hd {
        line-height: 80px !important;
    } */
  }

.labelPage {
    line-height: 1.2;border-style: solid;
     position: absolute !important; font-weight: 400; 
     font-family: Avenir Next; font-size: 20px; 
     color: rgb(255, 255, 255); background: transparent;
      border-width: 0px; padding: 0px; width: 344px; height: 41px; 
      top: 116px; left: 46px; text-align: left; 
      transform: rotate(0deg) skewX(0deg) skewY(0deg);
       box-shadow: 0px 0px; z-index: 1;
}


.cpointer {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.cpointer:hover {
    cursor: pointer;
    color: #0296d7 !important;
    text-decoration: none;
}

a{
    text-decoration: none !important;
    color: rgba(255, 255, 255,0.35)
}


.learn1:hover{
    color:#0296d7 !important
}

.learn2:hover{
    color:#0296d7 !important
}


.learn3:hover{
    color:#0296d7 !important
}


.learn4:hover{
    color:#0296d7 !important
}

.learn5:hover{
    color:#0296d7 !important
}

.job:hover{
    color:#0296d7 !important
}

.career:hover{
color:rgb(122, 181, 59) !important
}

.mt-xs{
    margin-top:2.5px
}

.mt-s{
    margin-top:5px
}

.mt-m{
    margin-top:20px
}

.mt-l{
    margin-top:40px
}

.mt-xl{
    margin-top:70px
}

.mt-xxl{
    margin-top:140px
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

